.u-section-1 {
  background-image: none;
  min-height: 792px;
}

.u-section-1 .u-image-1 {
  height: 701px;
  width: 1220px;
  margin: 72px 0 0 auto;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  text-shadow: -2px 11px 20px rgba(212,175,55,0.5);
  font-size: 4.5rem;
  font-weight: normal;
  margin: -568px calc(((100% - 1140px) / 2) + 215px) 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  box-shadow: -2px 11px 39px 0 rgba(26,26,26,1);
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 27px auto 0 calc(((100% - 1140px) / 2) + 240px);
  padding: 10px 24px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  box-shadow: -2px 11px 39px 0 rgba(26,26,26,1);
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -49px auto -76px calc(((100% - 1140px) / 2) + 50px);
  padding: 10px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 631px;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -407px;
    margin-right: calc(((100% - 940px) / 2) + 65px);
    margin-left: calc(((100% - 940px) / 2) + 152px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 40px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 505px;
  }

  .u-section-1 .u-image-1 {
    height: 414px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -281px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 152px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 402px;
  }

  .u-section-1 .u-image-1 {
    height: 311px;
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -178px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 152px);
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 287px;
  }

  .u-section-1 .u-image-1 {
    height: 196px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -63px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 96px);
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 576px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 19px;
}

.u-section-2 .u-image-1 {
  height: 484px;
  margin-top: -27px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 576px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 10px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  animation-duration: 1000ms;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 475px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 393px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 620px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 473px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-image-1 {
    height: 291px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 819px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  text-shadow: -2px 11px 20px rgba(212,175,55,0.5);
  animation-duration: 1000ms;
  margin: 140px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 40px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 396px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  text-shadow: -2px 11px 20px rgba(212,175,55,0.5);
  box-shadow: -2px 11px 20px 0 rgba(0,0,0,0.5);
  margin: 20px 1px 0;
}

.u-section-3 .u-text-4 {
  margin: 10px 1px 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  text-shadow: -2px 11px 20px rgba(212,175,55,0.5);
  box-shadow: -2px 11px 20px 0 rgba(0,0,0,0.5);
  margin: 20px 1px 0;
}

.u-section-3 .u-text-6 {
  margin: 10px 1px 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  text-shadow: -2px 11px 20px rgba(212,175,55,0.5);
  box-shadow: -2px 11px 20px 0 rgba(0,0,0,0.5);
  margin: 20px 1px 0;
}

.u-section-3 .u-text-8 {
  margin: 10px 1px 0;
}

.u-section-3 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  text-shadow: -2px 11px 20px rgba(212,175,55,0.5);
  box-shadow: -2px 11px 20px 0 rgba(0,0,0,0.5);
  margin: 20px 1px 0;
}

.u-section-3 .u-text-10 {
  margin: 10px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-image-1 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1243px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 102px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-shadow: -2px 11px 20px rgba(212,175,55,0.5);
  box-shadow: -2px 11px 20px 0 rgba(0,0,0,0.5);
  width: 722px;
  animation-duration: 1000ms;
  margin: 10px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 745px;
  width: 1140px;
  grid-gap: 17px 17px;
  margin: 70px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 400;
  background-image: none;
  border-style: solid;
  box-shadow: -2px 11px 39px 0 rgba(26,26,26,1);
  text-shadow: -2px 11px 39px rgba(0,0,0,1);
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 385px;
  }

  .u-section-4 .u-gallery-1 {
    height: 614px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1475px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 275px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-weight: 800;
  }

  .u-section-4 .u-gallery-1 {
    height: 1058px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3656px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 80px;
    margin-left: 185px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3174px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2421px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 30px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1998px;
    width: 340px;
    margin-top: 30px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: -397px;
  }
}